

.card {
    height: 50vh;
    width: 25vw;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    color: white;
    gap: 20px;
    box-shadow: 0px 0px 15px #00FFD1;
    border: 2px solid #00FFD1;
    transition: all 0.5s;
    .card__head {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        p{
            font-size: 1rem;
        }
    }
    .item__img {
        height: 150px;
        width: 150px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    a {
        background-color: rgb(65, 65, 65);
        color: white;
        border-radius: 10px;
        // border: 1px solid white;
        padding: 1rem;
        &:hover {
            background-color: #00FFD1;
            font-weight: 700;
            color: white;
            box-shadow: 0px 0px 15px #00FFD1;
        }
    }
    .card__price {
        font-size: 1.5rem;
    }
    .card__category {
        font-size: 1.5rem;
        font-weight: 700;
    }
    .item__id {
        font-size: 0.8rem;
    }
    &:hover {
        transform: scale(1.1);
        background-color: rgba(0, 0, 0, 0.8);
    }
    .spinner {
        width: 20vw;
    }
}