.list__container {
    min-height: 50vh;
    display:flex;
    justify-content: center;
}

.wrapper {
    margin-top: 10vh;
    display: flex;
    height: 100vh;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 5vh;
    .category__name {
        color: white;
        font-size: 2rem;
        font-weight: 600;
    }
}