.wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: rgb(37, 37, 37);
    gap: 5vh;
    p {
        color: white;
        font-size: 2rem;
    }
}